node_modules/
android/app/build/
android/.gradle/
ios/build/
*.iml
.idea/
.vscode/
.DS_Store
.env

# Android native build files
android/app/.cxx/
android/build/

# Native build & logs
*.log
*.ninja*
*.bin
*.json
dump.rdb

# Certificates / keys
*.pem

